img {
    image-rendering: -webkit-optimize-contrast;
}

button {
    -webkit-app-region: no-drag;
}

.topnav {
    -webkit-app-region: drag;
    background-color: #0c0f0f;
    height: 51px;
    display: flex;
    border-bottom: 1px solid #3f3f3f;
}

.toolbar-box-player img {
    float: left;
}

.toolbar-box-player p {
    display: flex;
    justify-content: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.toolbar-box-player .track-title {
    color: #e4e3e3;
    height: 18px;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.toolbar-box-player .track-artist {
    height: 17px;
    color: #a5a5a5;
    font-size: 11px;
    margin-top: -2px;
    margin-bottom: -10px;
}


.toolbar-box-player .track-time-current {
    margin-left: 6px;
    float: left;
    color: #a5a5a5;
    font-size: 11px;
    margin-top: 0px;
}

.toolbar-box-player .track-time-total {
    margin-right: 6px;
    float: right;
    color: #a5a5a5;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.toolbar-box-player .track-position-box {
    -webkit-app-region: no-drag;
    height: 5px;
    top: calc(51px - 5px);
    width: calc(40% - 51px);
    margin-left: 51px;
    background-color: #4b4b4b;
    position: absolute;
}

.track-position-box .track-position-ellapsed {
    float:left;
    background-color: rgb(235, 95, 77);
    position: relative;
    width: 0%;
    height: 5px;

}

.toolbar-box-player .track-position-needle-scaler {
    position: relative;
    width: calc(100% - 7px);
}

.toolbar-box-player .track-position-needle-wiper {
    /* background-color: orange; */
    -webkit-app-region: no-drag;
    user-select: none;
    position: relative;
    height: 9px;
    top:-4px;
}

.track-position-needle-scaler .track-position-needle {
    user-select: none;
    height: 9px;
    top: -1px;
    width: 5px;
    margin-left: 0%;
    background-color: rgb(197, 197, 197);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-color: #2b2b2b;
    border-width: 1px;
    position: absolute;
}
.toolbar-box-player {
    height: 51px;
    width: 40%;
    background-color: #161616;
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
}

.volume-slider {
    -webkit-app-region: no-drag;
    position: relative;
    float: left;
    padding: 7px 0px 7px 0px;
    background: transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 100px;
}

.volume-slider-accent-begin {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(235, 95, 77);
}

.volume-slider-accent-end {
    position: absolute;
    width: 75%;
    margin-left: 25%;
    height: 4px;
    border-radius: 2px;
    background-color: grey;
}

.volume-slider input {
    /* pointer-events: none; */
    position: absolute;
    -webkit-app-region: no-drag;
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-left: 0px;
    margin-right: 0px;
    /* accent-color: #F55050; */
    background-color: transparent;
}

.volume-slider input::-webkit-slider-thumb {
    accent-color: #2ecc71;
    -webkit-app-region: no-drag;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #2c2c2c;
    border: 1px solid #afafaf;
    border-radius: 50%;
    cursor: pointer;
}

.toolbar-box-left {
    /* background-color: green; */
    margin-right: auto;
    width: 30%;
    height: 51px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.toolbar-box-right {
    /* background-color: red; */
    margin-left: auto;
    width: 30%;
    height: 51px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.toolbar-buttons-box-right {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 6px;
}

.toolbar-buttons-box-right button {
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 3px;
}

.toolbar-buttons-box-right button:hover {
    background-color: rgba(255, 255, 255, 0.055);
}

.apple-search {
    -webkit-app-region: no-drag;
    font-weight: lighter;
    border: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #0f0f0f;
    background-color: #2d2e30;
    background-image: url("../images/icon-search-dark.png");
    background-position-x: 6px;
    background-position-y: 5px;
    background-repeat: no-repeat;
    padding-left: 27px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 20px;
    width: 35%;
}

.apple-search::placeholder {
    font-weight: bold;
    color: #6f767c;
}

.apple-search:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #70baffb2;
    box-shadow: 0 0 0 2px #70baff5b;
    box-shadow: 0 0 0 3px #70baff23;
}


.toolbar-buttons-box-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    min-width: 100px;
    max-width: 100px;
    /* background-color: green; */
}

@media only screen and (max-width: 1000px) {
    .toolbar-buttons-box-left {
        margin-right: 8.3%;
    }
  }

.toolbar-buttons-box-left button {
    color: #868686;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    /* background-color: green; */
    height: 24px;
}

.toolbar-buttons-box-left .pause{
    display: none;
}

.toolbar-buttons-box-left .play{
    display: flex;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.toolbar-buttons-box-right button:hover {
    background-color: rgba(255, 255, 255, 0.055);
}

.toolbar-buttons-box-right .app-minimize {
    background-image: url('../images/minimize.png');
}

.toolbar-buttons-box-right .app-maximize {
    background-image: url('../images/maximize.png');
}

.toolbar-buttons-box-right .app-close {
    background-image: url('../images/close.png');
}